@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html style="font-size: 16px;" lang="ru">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Welcome, ​Do you need professionals for your next construction project?, We partner with the world&amp;apos;s leading universities, ​​We Are Increasing Business Success With&nbsp;IT Solution, Get a demo">
    <meta name="description" content="">
    <title>Главная</title>
    <link rel="stylesheet" href="~/css/nicepage.css" media="screen">
    <link rel="stylesheet" href="~/css/Главная.css" media="screen">
    <script class="u-script" type="text/javascript" src="~/js/jquery-1.9.1.min.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="~/js/nicepage.js" defer=""></script>
    <meta name="generator" content="Nicepage 5.3.5, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
    <script type="application/ld+json">
        {
                "@@context": "http://schema.org",
                "@@type": "Organization",
                "name": "",
                "url": "/"
        }</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Главная">
    <meta property="og:type" content="website">
    <link rel="canonical" href="/">
</head>
<body class="u-body u-xl-mode" data-lang="ru">
    
    <section class="u-align-center u-clearfix u-image u-section-1" id="carousel_9dce" data-image-width="1920" data-image-height="891">
        <div class="u-clearfix u-sheet u-sheet-1">
            <h2 class="u-custom-font u-font-montserrat u-text u-text-default u-text-1" data-lang-en="Welcome">Welcome</h2>
            <p class="u-text u-text-2" data-lang-en="​​Article evident arrived express highest men did boy. Mistress sensible entirely am so. Quick can manor smart money hopes worth too. Comfort produce husband boy her had hearing. Law others theirs passed but wishes. You day real less till dear read. Considered use dispatched melancholy sympathize discretion led. Oh feel if up to till like.&amp;nbsp;He an thing rapid these after going drawn or."> photo_aggregator</p>
        </div>
    </section>
    <section class="u-align-center u-clearfix u-grey-5 u-section-2" id="carousel_1d57">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-expanded-width u-list u-list-1">
                <div class="u-repeater u-repeater-1">
                    <div class="u-align-center u-container-style u-custom-border u-list-item u-repeater-item u-shape-rectangle">
                        <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1">
                            <div class="u-align-center u-container-style u-group u-shape-circle u-white u-group-1" data-animation-name="customAnimationIn" data-animation-duration="2000">
                                <div class="u-container-layout u-valign-middle-xl u-container-layout-2">
                                    <span class="u-icon u-text-black u-icon-1">
                                        <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style=""><use xlink:href="#svg-2e2d"></use></svg>
                                        <svg class="u-svg-content" viewBox="0 0 512 512" id="svg-2e2d">
                                            <g>
                                                <path d="m193.29 395.63c-42.64 0-77.33-34.69-77.33-77.33v-25.59c-62.506-3.875-116.177 46.692-115.959 109.34 0 60.4 49.14 109.53 109.53 109.53 62.65.217 113.214-53.436 109.34-115.95z"></path><path d="m262.94 146.56h-69.65c-26.1 0-47.33 21.24-47.33 47.33-.042 16.556.03 110.208 0 124.41 0 26.09 21.23 47.33 47.33 47.33 14.916-.029 107.366.021 124.4 0 26.1 0 47.33-21.24 47.33-47.33v-68.81h-102.08z"></path><path d="m292.94.42v219.07h219.06v-219.07z"></path>
                                            </g>
                                        </svg>


                                    </span>
                                    <h4 class="u-custom-font u-font-montserrat u-text u-text-1" data-lang-en="About Us"> О нас</h4>
                                    <p class="u-text u-text-2" data-lang-en="Sample text. Click to select the text box. Click again or double click to start editing the text.">
                                        Немного интересной информации<br>про наш бизнес
                                    </p>
                                </div>
                                <div class="u-preserve-proportions-child" style="padding-top: 100%;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-custom-border u-list-item u-repeater-item u-shape-rectangle">
                        <div class="u-container-layout u-similar-container u-valign-top u-container-layout-3">
                            <a class="u-align-center u-container-style u-group u-shape-circle u-white u-group-2" data-animation-name="customAnimationIn" data-animation-duration="2000" asp-area="" asp-controller="Home" asp-action="Register" title="Register">
                                <div class="u-container-layout u-valign-middle-xl u-container-layout-4">
                                    <span class="u-icon u-text-black u-icon-2">
                                        <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512.001 512.001" style=""><use xlink:href="#svg-38fc"></use></svg>
                                        <svg class="u-svg-content" viewBox="0 0 512.001 512.001" x="0px" y="0px" id="svg-38fc" style="enable-background:new 0 0 512.001 512.001;">
                                            <g>
                                                <g>
                                                    <path d="M502.979,317.996L230.502,199.598c26.679-30.977,43.37-68.952,48.104-109.598h16.395c8.284,0,15-6.716,15-15V15    c0-8.284-6.716-15-15-15h-60c-8.284,0-15,6.716-15,15v60c0,8.284,6.716,15,15,15h13.362    c-5.335,38.976-23.597,74.898-52.382,102.447c-29.08,27.831-66.261,44.536-105.98,47.907v-9.265c0-8.284-6.716-15-15-15h-60    c-8.284,0-15,6.716-15,15v60c0,8.284,6.716,15,15,15h60c8.284,0,15-6.716,15-15v-20.631    c39.772-2.876,77.462-17.167,109.042-41.233l118.953,273.754c2.391,5.5,7.81,9.022,13.753,9.022c0.283,0,0.567-0.008,0.853-0.024    c6.272-0.355,11.659-4.582,13.496-10.589l27.229-89.03c5.725-18.716,20.315-33.307,39.03-39.031l89.03-27.229    c6.008-1.837,10.234-7.224,10.589-13.497C512.332,326.329,508.741,320.5,502.979,317.996z"></path>
                                                </g>
                                            </g>
                                        </svg>


                                    </span>
                                    <h4 class="u-custom-font u-font-montserrat u-text u-text-default u-text-3" data-lang-en="​Create it"> Регистрация</h4>
                                    <p class="u-text u-text-4" data-lang-en="Sample text. Click to select the text box. Click again or double click to start editing ​the text."> Чтобы пользоваться всеми функциями сервиса нужно зарегистрироваться</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-custom-border u-list-item u-repeater-item u-shape-rectangle">
                        <div class="u-container-layout u-similar-container u-valign-top u-container-layout-5">
                            <a class="u-align-center u-container-style u-group u-shape-circle u-white u-group-3" data-animation-name="customAnimationIn" data-animation-duration="2000" asp-area="" asp-controller="Home" asp-action="Login" title="Login">
                                <div class="u-container-layout u-valign-middle-xl u-container-layout-6">
                                    <span class="u-file-icon u-icon u-text-black u-icon-3"><img src="~/images/3037106-30f71fee.png" alt=""></span>
                                    <h4 class="u-custom-font u-font-montserrat u-text u-text-default u-text-5" data-lang-en="What we do">Вход</h4>
                                    <p class="u-text u-text-6" data-lang-en="Sample text. Click to select the text box. Click again or double click to start editing the text."> Вы можете авторизоваться если у вас уже есть аккаунт</p>
                                </div>
                                <div class="u-preserve-proportions-child" style="padding-top: 100%;"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-align-center u-clearfix u-palette-2-base u-section-3" id="carousel_bcf8">
        <div class="u-clearfix u-sheet u-sheet-1">
            <h2 class="u-custom-font u-font-montserrat u-text u-text-1" data-lang-en="​Do you need professionals for your next construction project?">
                Вам нужны профессионалы для<br>вашей фотоссесии?
            </h2>
            <a href="https://nicepage.com/website-design" class="u-active-black u-border-active-black u-border-hover-black u-border-none u-btn u-btn-round u-button-style u-color-scheme-summer-time u-color-style-multicolor-1 u-hover-black u-radius-50 u-text-active-black u-text-hover-palette-2-base u-text-palette-2-base u-white u-btn-1" data-lang-en="{&quot;content&quot;:&quot;Contact Us&quot;,&quot;href&quot;:&quot;https://nicepage.com/website-design&quot;}">Contact Us</a>
        </div>
    </section>
    <section class="u-align-center u-clearfix u-section-4" id="carousel_f2b6">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-expanded-width u-list u-list-1">
                <div class="u-repeater u-repeater-1">
                    <div class="u-align-center-sm u-align-center-xs u-container-style u-list-item u-repeater-item">
                        <div class="u-container-layout u-similar-container u-container-layout-1">
                            <div alt="" class="u-image u-image-circle u-image-1" data-image-width="864" data-image-height="1080" data-animation-name="customAnimationIn" data-animation-duration="2000"></div>
                            <div class="u-align-center-sm u-align-center-xs u-container-style u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-group u-shape-rectangle u-group-1">
                                <div class="u-container-layout u-valign-middle u-container-layout-2">
                                    <h4 class="u-custom-font u-font-montserrat u-text u-text-1" data-lang-en="Nina Scavo">Настя Жокова</h4>
                                    <p class="u-text u-text-2" data-lang-en="Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat"> Мастер фотоссесий любых форматов&nbsp;</p><a class="u-file-icon u-icon u-text-palette-2-base u-icon-1" asp-area="" asp-controller="Home" asp-action="Photographer" title="Photographer"><img src="~/images/545682-56514614.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="u-align-center-sm u-align-center-xs u-container-style u-list-item u-repeater-item">
                        <div class="u-container-layout u-similar-container u-container-layout-3">
                            <div alt="" class="u-image u-image-circle u-image-2" data-image-width="563" data-image-height="750" data-animation-name="customAnimationIn" data-animation-duration="2000"></div>
                            <div class="u-align-center-sm u-align-center-xs u-container-style u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-group u-shape-rectangle u-group-2">
                                <div class="u-container-layout u-valign-middle u-container-layout-4">
                                    <h4 class="u-custom-font u-font-montserrat u-text u-text-3" data-lang-en="Linda Kim">Павел Побережный</h4>
                                    <p class="u-text u-text-4" data-lang-en="Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat">Павел - молодой специалист в своей области. Портретные фотосеты его сильная сторона</p><a class="u-file-icon u-icon u-text-palette-2-base u-icon-2" asp-area="" asp-controller="Home" asp-action="Photographer" title="Photographer"><img src="~/images/545682-56514614.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="u-align-center-sm u-align-center-xs u-container-style u-list-item u-repeater-item">
                        <div class="u-container-layout u-similar-container u-container-layout-5">
                            <div alt="" class="u-image u-image-circle u-image-3" data-image-width="1001" data-image-height="1500" data-animation-name="customAnimationIn" data-animation-duration="2000"></div>
                            <div class="u-align-center-sm u-align-center-xs u-container-style u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-group u-shape-rectangle u-group-3">
                                <div class="u-container-layout u-valign-middle u-container-layout-6">
                                    <h4 class="u-custom-font u-font-montserrat u-text u-text-5" data-lang-en="Di Dowson">Вероника Шамова</h4>
                                    <p class="u-text u-text-6" data-lang-en="Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat"> Самая опытная наша сотрудница, вы можете смело на нее положиться</p><a class="u-file-icon u-icon u-text-palette-2-base u-icon-3" asp-area="" asp-controller="Home" asp-action="Photographer" title="Photographer"><img src="~/images/545682-56514614.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="u-align-center-sm u-align-center-xs u-container-style u-list-item u-repeater-item">
                        <div class="u-container-layout u-similar-container u-container-layout-7">
                            <div alt="" class="u-image u-image-circle u-image-4" data-image-width="1642" data-image-height="1080" data-animation-name="customAnimationIn" data-animation-duration="2000"></div>
                            <div class="u-align-center-sm u-align-center-xs u-container-style u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-group u-shape-rectangle u-group-4">
                                <div class="u-container-layout u-valign-middle u-container-layout-8">
                                    <h4 class="u-custom-font u-font-montserrat u-text u-text-7" data-lang-en="Sofa Brown">Ленкис Фёдор</h4>
                                    <p class="u-text u-text-8" data-lang-en="Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat"> Нашли его на улице</p><a class="u-file-icon u-icon u-text-palette-2-base u-icon-4" asp-area="" asp-controller="Home" asp-action="Photographer" title="Photographer"><img src="~/images/545682-56514614.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="u-align-center-sm u-align-center-xs u-container-style u-list-item u-repeater-item">
                        <div class="u-container-layout u-similar-container u-container-layout-9">
                            <div alt="" class="u-image u-image-circle u-image-5" data-image-width="720" data-image-height="1080" data-animation-name="customAnimationIn" data-animation-duration="2000"></div>
                            <div class="u-align-center-sm u-align-center-xs u-container-style u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-group u-shape-rectangle u-group-5">
                                <div class="u-container-layout u-valign-middle u-container-layout-10">
                                    <h4 class="u-custom-font u-font-montserrat u-text u-text-9" data-lang-en="Jane Jonson">Дмитрий Кубланов</h4>
                                    <p class="u-text u-text-10" data-lang-en="Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat">Профессионал предметных фотосессий</p><a class="u-file-icon u-icon u-text-palette-2-base u-icon-5" asp-area="" asp-controller="Home" asp-action="Photographer" title="Photographer"><img src="~/images/545682-56514614.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="u-align-center-sm u-align-center-xs u-container-style u-list-item u-repeater-item">
                        <div class="u-container-layout u-similar-container u-container-layout-11">
                            <div alt="" class="u-image u-image-circle u-image-6" data-image-width="720" data-image-height="1080" data-animation-name="customAnimationIn" data-animation-duration="2000"></div>
                            <div class="u-align-center-sm u-align-center-xs u-container-style u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-group u-shape-rectangle u-group-6">
                                <div class="u-container-layout u-valign-middle u-container-layout-12">
                                    <h4 class="u-custom-font u-font-montserrat u-text u-text-11" data-lang-en="Paul Smith">Маргарита Снегирёва</h4>
                                    <p class="u-text u-text-12" data-lang-en="Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat">Семейные и свадебные фотосессии</p><a class="u-file-icon u-icon u-text-palette-2-base u-icon-6" asp-area="" asp-controller="Home" asp-action="Photographer" title="Photographer"><img src="~/images/545682-56514614.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-align-center u-clearfix u-grey-5 u-section-5" id="carousel_5484">
        <div class="u-clearfix u-sheet u-sheet-1">
            <h2 class="u-custom-font u-font-montserrat u-text u-text-1" data-lang-en="We partner with the world's leading universities"> Четыре шага чтобы назначить фотосессию</h2>
            <div class="u-accordion u-expanded-width u-spacing-2 u-accordion-1">
                <div class="u-accordion-item u-accordion-item-1">
                    <a class="active u-accordion-link u-active-palette-2-base u-border-1 u-border-black u-border-no-left u-border-no-right u-border-no-top u-button-style u-white u-accordion-link-1" id="link-accordion-7c0e" data-lang-en="
          <span class=&quot;u-accordion-link-text&quot;>01. Create a Webinar in Minutes</span><span class=&quot;u-accordion-link-icon u-border-2 u-border-black u-icon u-icon-circle u-text-black u-icon-1&quot; style=&quot;height: 36px; width: 36px; padding-top: 8px; padding-bottom: 8px; padding-left: 8px; padding-right: 8px&quot;><svg class=&quot;u-svg-link&quot; preserveAspectRatio=&quot;xMidYMin slice&quot; viewBox=&quot;0 0 426.66667 426.66667&quot; style=&quot;&quot;><use xlink:href=&quot;#svg-347e&quot;></use></svg><svg xmlns=&quot;http://www.w3.org/2000/svg&quot; xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; version=&quot;1.1&quot; xml:space=&quot;preserve&quot; class=&quot;u-svg-content&quot; viewBox=&quot;0 0 426.66667 426.66667&quot; id=&quot;svg-347e&quot; data-color=&quot;rgb(153, 153, 153)&quot;><path d=&quot;m405.332031 192h-170.664062v-170.667969c0-11.773437-9.558594-21.332031-21.335938-21.332031-11.773437 0-21.332031 9.558594-21.332031 21.332031v170.667969h-170.667969c-11.773437 0-21.332031 9.558594-21.332031 21.332031 0 11.777344 9.558594 21.335938 21.332031 21.335938h170.667969v170.664062c0 11.777344 9.558594 21.335938 21.332031 21.335938 11.777344 0 21.335938-9.558594 21.335938-21.335938v-170.664062h170.664062c11.777344 0 21.335938-9.558594 21.335938-21.335938 0-11.773437-9.558594-21.332031-21.335938-21.332031zm0 0&quot;></path></svg></span>
        ">
              <span class="u-accordion-link-text"> 01. Заргистрируйтесь</span><span class="u-accordion-link-icon u-border-2 u-border-black u-icon u-icon-circle u-text-black u-icon-1"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 426.66667 426.66667" style=""><use xlink:href="#svg-347e"></use></svg><svg class="u-svg-content" viewBox="0 0 426.66667 426.66667" id="svg-347e"><path d="m405.332031 192h-170.664062v-170.667969c0-11.773437-9.558594-21.332031-21.335938-21.332031-11.773437 0-21.332031 9.558594-21.332031 21.332031v170.667969h-170.667969c-11.773437 0-21.332031 9.558594-21.332031 21.332031 0 11.777344 9.558594 21.335938 21.332031 21.335938h170.667969v170.664062c0 11.777344 9.558594 21.335938 21.332031 21.335938 11.777344 0 21.335938-9.558594 21.335938-21.335938v-170.664062h170.664062c11.777344 0 21.335938-9.558594 21.335938-21.335938 0-11.773437-9.558594-21.332031-21.335938-21.332031zm0 0"></path></svg></span>
            </a>
                    <div class="u-accordion-active u-accordion-pane u-align-left u-container-style u-white u-accordion-pane-1" id="accordion-7c0e" aria-labelledby="link-accordion-7c0e">
                        <div class="u-container-layout u-valign-top u-container-layout-1">
                            <p class="u-text u-text-2" data-lang-en="Interdum velit euismod in pellentesque massa placerat duis. Tristique et egestas quis ipsum suspendisse ultrices gravida dictum fusce. Nibh nisl condimentum."> Процесс регистрации</p>
                            <ul class="u-custom-list u-text u-text-3" data-lang-en="
              <li>
                <div class=&quot;u-list-icon&quot; style=&quot;&quot;>
                  <div xmlns=&quot;http://www.w3.org/2000/svg&quot; xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; version=&quot;1.1&quot; xml:space=&quot;preserve&quot; class=&quot;u-svg-content&quot;>–</div>
                </div>Mattis nunc sed blandit libero volutpat.
              </li>
              <li>
                <div class=&quot;u-list-icon&quot; style=&quot;&quot;>
                  <div xmlns=&quot;http://www.w3.org/2000/svg&quot; xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; version=&quot;1.1&quot; xml:space=&quot;preserve&quot; class=&quot;u-svg-content&quot;>–</div>
                </div>Tortor at risus viverra adipiscing at in tellus.
              </li>
              <li>
                <div class=&quot;u-list-icon&quot; style=&quot;&quot;>
                  <div xmlns=&quot;http://www.w3.org/2000/svg&quot; xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; version=&quot;1.1&quot; xml:space=&quot;preserve&quot; class=&quot;u-svg-content&quot;>–</div>
                </div>Purus ut faucibus pulvinar elementum.
              </li>
              <li>
                <div class=&quot;u-list-icon u-block-352e-37&quot; style=&quot;&quot;>
                  <div xmlns=&quot;http://www.w3.org/2000/svg&quot; xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; version=&quot;1.1&quot; xml:space=&quot;preserve&quot; class=&quot;u-svg-content&quot;>–</div>
                </div>Blandit turpis cursus in hac habitasse.
              </li>
            ">
                  <li>
                    <div class="u-list-icon">
                      <div xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content">–</div>
                    </div> Введите запрашиваемые данные в окне регистрации
                  </li>
                  <li>
                    <div class="u-list-icon">
                      <div xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content">–</div>
                    </div> Вам на почту будет отправлена ссылка для подтверждения регистрации.
                  </li>
                  <li>
                    <div class="u-list-icon">
                      <div xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content">–</div>
                    </div> Если вы уже регистрировались на нашем сервисе, то просто авторизуйте на странице "Вход".
                  </li>
                </ul>
                        </div>
                    </div>
                </div>
                <div class="u-accordion-item u-accordion-item-2">
                    <a class="u-accordion-link u-active-palette-2-base u-border-1 u-border-black u-border-no-left u-border-no-right u-border-no-top u-button-style u-white u-accordion-link-2" id="link-accordion-05cb" data-lang-en="
          <span class=&quot;u-accordion-link-text&quot;>02. Business Sustainability Management</span><span class=&quot;u-accordion-link-icon u-border-2 u-border-black u-icon u-icon-circle u-text-black u-icon-2&quot; style=&quot;height: 36px; width: 36px; padding-top: 8px; padding-bottom: 8px; padding-left: 8px; padding-right: 8px&quot;><svg class=&quot;u-svg-link&quot; preserveAspectRatio=&quot;xMidYMin slice&quot; viewBox=&quot;0 0 426.66667 426.66667&quot; style=&quot;&quot;><use xlink:href=&quot;#svg-ae03&quot;></use></svg><svg xmlns=&quot;http://www.w3.org/2000/svg&quot; xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; version=&quot;1.1&quot; xml:space=&quot;preserve&quot; class=&quot;u-svg-content&quot; viewBox=&quot;0 0 426.66667 426.66667&quot; id=&quot;svg-ae03&quot; data-color=&quot;rgb(153, 153, 153)&quot;><path d=&quot;m405.332031 192h-170.664062v-170.667969c0-11.773437-9.558594-21.332031-21.335938-21.332031-11.773437 0-21.332031 9.558594-21.332031 21.332031v170.667969h-170.667969c-11.773437 0-21.332031 9.558594-21.332031 21.332031 0 11.777344 9.558594 21.335938 21.332031 21.335938h170.667969v170.664062c0 11.777344 9.558594 21.335938 21.332031 21.335938 11.777344 0 21.335938-9.558594 21.335938-21.335938v-170.664062h170.664062c11.777344 0 21.335938-9.558594 21.335938-21.335938 0-11.773437-9.558594-21.332031-21.335938-21.332031zm0 0&quot;></path></svg></span>
        ">
              <span class="u-accordion-link-text">02. Определитесь с типом услуги</span><span class="u-accordion-link-icon u-border-2 u-border-black u-icon u-icon-circle u-text-black u-icon-2"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 426.66667 426.66667" style=""><use xlink:href="#svg-ae03"></use></svg><svg class="u-svg-content" viewBox="0 0 426.66667 426.66667" id="svg-ae03"><path d="m405.332031 192h-170.664062v-170.667969c0-11.773437-9.558594-21.332031-21.335938-21.332031-11.773437 0-21.332031 9.558594-21.332031 21.332031v170.667969h-170.667969c-11.773437 0-21.332031 9.558594-21.332031 21.332031 0 11.777344 9.558594 21.335938 21.332031 21.335938h170.667969v170.664062c0 11.777344 9.558594 21.335938 21.332031 21.335938 11.777344 0 21.335938-9.558594 21.335938-21.335938v-170.664062h170.664062c11.777344 0 21.335938-9.558594 21.335938-21.335938 0-11.773437-9.558594-21.332031-21.335938-21.332031zm0 0"></path></svg></span>
            </a>
                    <div class="u-accordion-pane u-container-style u-white u-accordion-pane-2" id="accordion-05cb" aria-labelledby="link-accordion-05cb">
                        <div class="u-container-layout u-container-layout-2">
                            <ul class="u-custom-list u-text u-text-4" data-lang-en="
              <li>
                <div class=&quot;u-list-icon&quot; style=&quot;&quot;>
                  <div xmlns=&quot;http://www.w3.org/2000/svg&quot; xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; version=&quot;1.1&quot; xml:space=&quot;preserve&quot; class=&quot;u-svg-content&quot;>–</div>
                </div>Interdum velit euismod in pellentesque massa.
              </li>
              <li>
                <div class=&quot;u-list-icon u-block-352e-45&quot; style=&quot;&quot;>
                  <div xmlns=&quot;http://www.w3.org/2000/svg&quot; xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; version=&quot;1.1&quot; xml:space=&quot;preserve&quot; class=&quot;u-svg-content&quot;>–</div>
                </div>Tristique et egestas quis ipsum suspendisse ultrices gravidae.
              </li>
              <li>
                <div class=&quot;u-list-icon u-block-352e-46&quot; style=&quot;&quot;>
                  <div xmlns=&quot;http://www.w3.org/2000/svg&quot; xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; version=&quot;1.1&quot; xml:space=&quot;preserve&quot; class=&quot;u-svg-content&quot;>–</div>
                </div>Nibh nisl condimentum id venenatis a condimentum.
              </li>
              <li>
                <div class=&quot;u-list-icon u-block-352e-47&quot; style=&quot;&quot;>
                  <div xmlns=&quot;http://www.w3.org/2000/svg&quot; xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; version=&quot;1.1&quot; xml:space=&quot;preserve&quot; class=&quot;u-svg-content&quot;>–</div>
                </div>Diam volutpat commodo sed egestas egestas fringilla.
              </li>
            ">
                  <li>
                    <div class="u-list-icon">
                      <div xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content">–</div>
                    </div>Портретная фотосессия<br>
                  </li>
                  <li>
                    <div class="u-list-icon">
                      <div xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content">–</div>
                    </div>Семейная фотосессия<br>
                  </li>
                  <li>
                    <div class="u-list-icon">
                      <div xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content">–</div>
                    </div>Свадебная фотосессия<br>
                  </li>
                  <li>
                    <div class="u-list-icon">
                      <div xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content">–</div>
                    </div>Спортивная фотосессия<br>
                  </li>
                  <li>
                    <div class="u-list-icon">
                      <div xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content">–</div>
                    </div>Предметная фотосессия<br>
                  </li>
                  <li>
                    <div class="u-list-icon">
                      <div xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content">–</div>
                    </div>Студийная фотосессия
                  </li>
                </ul>
                            <p class="u-text u-text-5" data-lang-en="Interdum velit euismod in pellentesque massa placerat duis. Tristique et egestas quis ipsum suspendisse ultrices gravida dictum fusce. Nibh nisl condimentum."> Подробнее по каждому типу можно прочитать на странице "Услуги"</p>
                        </div>
                    </div>
                </div>
                <div class="u-accordion-item u-accordion-item-3">
                    <a class="u-accordion-link u-active-palette-2-base u-border-1 u-border-black u-border-no-left u-border-no-right u-border-no-top u-button-style u-white u-accordion-link-3" id="link-accordion-a6bb" data-lang-en="
          <span class=&quot;u-accordion-link-text&quot;>03. Learn how to grow your business</span><span class=&quot;u-accordion-link-icon u-border-2 u-border-black u-icon u-icon-circle u-text-black u-icon-3&quot; style=&quot;height: 36px; width: 36px; padding-top: 8px; padding-bottom: 8px; padding-left: 8px; padding-right: 8px&quot;><svg class=&quot;u-svg-link&quot; preserveAspectRatio=&quot;xMidYMin slice&quot; viewBox=&quot;0 0 426.66667 426.66667&quot; style=&quot;&quot;><use xlink:href=&quot;#svg-a4a8&quot;></use></svg><svg xmlns=&quot;http://www.w3.org/2000/svg&quot; xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; version=&quot;1.1&quot; xml:space=&quot;preserve&quot; class=&quot;u-svg-content&quot; viewBox=&quot;0 0 426.66667 426.66667&quot; id=&quot;svg-a4a8&quot; data-color=&quot;rgb(153, 153, 153)&quot;><path d=&quot;m405.332031 192h-170.664062v-170.667969c0-11.773437-9.558594-21.332031-21.335938-21.332031-11.773437 0-21.332031 9.558594-21.332031 21.332031v170.667969h-170.667969c-11.773437 0-21.332031 9.558594-21.332031 21.332031 0 11.777344 9.558594 21.335938 21.332031 21.335938h170.667969v170.664062c0 11.777344 9.558594 21.335938 21.332031 21.335938 11.777344 0 21.335938-9.558594 21.335938-21.335938v-170.664062h170.664062c11.777344 0 21.335938-9.558594 21.335938-21.335938 0-11.773437-9.558594-21.332031-21.335938-21.332031zm0 0&quot;></path></svg></span>
        ">
              <span class="u-accordion-link-text">03. Выберите фотографа</span><span class="u-accordion-link-icon u-border-2 u-border-black u-icon u-icon-circle u-text-black u-icon-3"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 426.66667 426.66667" style=""><use xlink:href="#svg-a4a8"></use></svg><svg class="u-svg-content" viewBox="0 0 426.66667 426.66667" id="svg-a4a8"><path d="m405.332031 192h-170.664062v-170.667969c0-11.773437-9.558594-21.332031-21.335938-21.332031-11.773437 0-21.332031 9.558594-21.332031 21.332031v170.667969h-170.667969c-11.773437 0-21.332031 9.558594-21.332031 21.332031 0 11.777344 9.558594 21.335938 21.332031 21.335938h170.667969v170.664062c0 11.777344 9.558594 21.335938 21.332031 21.335938 11.777344 0 21.335938-9.558594 21.335938-21.335938v-170.664062h170.664062c11.777344 0 21.335938-9.558594 21.335938-21.335938 0-11.773437-9.558594-21.332031-21.335938-21.332031zm0 0"></path></svg></span>
            </a>
                    <div class="u-accordion-pane u-container-style u-white u-accordion-pane-3" id="accordion-a6bb" aria-labelledby="link-accordion-a6bb">
                        <div class="u-container-layout u-valign-top u-container-layout-3">
                            <ul class="u-custom-list u-text u-text-6" data-lang-en="
              <li>
                <div class=&quot;u-list-icon&quot; style=&quot;&quot;>
                  <div xmlns=&quot;http://www.w3.org/2000/svg&quot; xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; version=&quot;1.1&quot; xml:space=&quot;preserve&quot; class=&quot;u-svg-content&quot;>–</div>
                </div>Mattis nunc sed blandit libero volutpat.
              </li>
              <li>
                <div class=&quot;u-list-icon u-block-352e-55&quot; style=&quot;&quot;>
                  <div xmlns=&quot;http://www.w3.org/2000/svg&quot; xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; version=&quot;1.1&quot; xml:space=&quot;preserve&quot; class=&quot;u-svg-content&quot;>–</div>
                </div>Tortor at risus viverra adipiscing at in tellus.
              </li>
              <li>
                <div class=&quot;u-list-icon u-block-352e-56&quot; style=&quot;&quot;>
                  <div xmlns=&quot;http://www.w3.org/2000/svg&quot; xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; version=&quot;1.1&quot; xml:space=&quot;preserve&quot; class=&quot;u-svg-content&quot;>–</div>
                </div>Purus ut faucibus pulvinar elementum.
              </li>
              <li>
                <div class=&quot;u-list-icon u-block-352e-57&quot; style=&quot;&quot;>
                  <div xmlns=&quot;http://www.w3.org/2000/svg&quot; xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; version=&quot;1.1&quot; xml:space=&quot;preserve&quot; class=&quot;u-svg-content&quot;>–</div>
                </div>Blandit turpis cursus in hac habitasse.e.
              </li>
            ">
                  <li>
                    <div class="u-list-icon">
                      <div xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content">–</div>
                    </div>В зависимости от типа услуги вам будет представлен список фотографов.<br>
                  </li>
                </ul>
                        </div>
                    </div>
                </div>
                <div class="u-accordion-item u-accordion-item-4">
                    <a class="u-accordion-link u-active-palette-2-base u-border-1 u-border-black u-border-no-left u-border-no-right u-border-no-top u-button-style u-white u-accordion-link-4" id="link-accordion-a6bb" data-lang-en="
          <span class=&quot;u-accordion-link-text&quot;>04. Practical tips to help you price your products</span><span class=&quot;u-accordion-link-icon u-border-2 u-border-black u-icon u-icon-circle u-text-black u-icon-4&quot; style=&quot;height: 36px; width: 36px; padding-top: 8px; padding-bottom: 8px; padding-left: 8px; padding-right: 8px&quot;><svg class=&quot;u-svg-link&quot; preserveAspectRatio=&quot;xMidYMin slice&quot; viewBox=&quot;0 0 426.66667 426.66667&quot; style=&quot;&quot;><use xlink:href=&quot;#svg-f384&quot;></use></svg><svg xmlns=&quot;http://www.w3.org/2000/svg&quot; xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; version=&quot;1.1&quot; xml:space=&quot;preserve&quot; class=&quot;u-svg-content&quot; viewBox=&quot;0 0 426.66667 426.66667&quot; id=&quot;svg-f384&quot; data-color=&quot;rgb(153, 153, 153)&quot;><path d=&quot;m405.332031 192h-170.664062v-170.667969c0-11.773437-9.558594-21.332031-21.335938-21.332031-11.773437 0-21.332031 9.558594-21.332031 21.332031v170.667969h-170.667969c-11.773437 0-21.332031 9.558594-21.332031 21.332031 0 11.777344 9.558594 21.335938 21.332031 21.335938h170.667969v170.664062c0 11.777344 9.558594 21.335938 21.332031 21.335938 11.777344 0 21.335938-9.558594 21.335938-21.335938v-170.664062h170.664062c11.777344 0 21.335938-9.558594 21.335938-21.335938 0-11.773437-9.558594-21.332031-21.335938-21.332031zm0 0&quot;></path></svg></span>
        ">
              <span class="u-accordion-link-text">04. Дождитесь звонка от нашего менджера</span><span class="u-accordion-link-icon u-border-2 u-border-black u-icon u-icon-circle u-text-black u-icon-4"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 426.66667 426.66667" style=""><use xlink:href="#svg-f384"></use></svg><svg class="u-svg-content" viewBox="0 0 426.66667 426.66667" id="svg-f384"><path d="m405.332031 192h-170.664062v-170.667969c0-11.773437-9.558594-21.332031-21.335938-21.332031-11.773437 0-21.332031 9.558594-21.332031 21.332031v170.667969h-170.667969c-11.773437 0-21.332031 9.558594-21.332031 21.332031 0 11.777344 9.558594 21.335938 21.332031 21.335938h170.667969v170.664062c0 11.777344 9.558594 21.335938 21.332031 21.335938 11.777344 0 21.335938-9.558594 21.335938-21.335938v-170.664062h170.664062c11.777344 0 21.335938-9.558594 21.335938-21.335938 0-11.773437-9.558594-21.332031-21.335938-21.332031zm0 0"></path></svg></span>
            </a>
                    <div class="u-accordion-pane u-container-style u-white u-accordion-pane-4" id="accordion-a6bb" aria-labelledby="link-accordion-a6bb">
                        <div class="u-container-layout u-valign-top u-container-layout-4">
                            <ul class="u-custom-list u-text u-text-7" data-lang-en="
              <li>
                <div class=&quot;u-list-icon&quot; style=&quot;&quot;>
                  <div xmlns=&quot;http://www.w3.org/2000/svg&quot; xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; version=&quot;1.1&quot; xml:space=&quot;preserve&quot; class=&quot;u-svg-content&quot;>–</div>
                </div>Mattis nunc sed blandit libero volutpat.
              </li>
              <li>
                <div class=&quot;u-list-icon u-block-352e-65&quot; style=&quot;&quot;>
                  <div xmlns=&quot;http://www.w3.org/2000/svg&quot; xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; version=&quot;1.1&quot; xml:space=&quot;preserve&quot; class=&quot;u-svg-content&quot;>–</div>
                </div>Tortor at risus viverra adipiscing at in tellus.
              </li>
              <li>
                <div class=&quot;u-list-icon u-block-352e-66&quot; style=&quot;&quot;>
                  <div xmlns=&quot;http://www.w3.org/2000/svg&quot; xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; version=&quot;1.1&quot; xml:space=&quot;preserve&quot; class=&quot;u-svg-content&quot;>–</div>
                </div>Purus ut faucibus pulvinar elementum.
              </li>
              <li>
                <div class=&quot;u-list-icon u-block-352e-67&quot; style=&quot;&quot;>
                  <div xmlns=&quot;http://www.w3.org/2000/svg&quot; xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; version=&quot;1.1&quot; xml:space=&quot;preserve&quot; class=&quot;u-svg-content&quot;>–</div>
                </div>Blandit turpis cursus in hac habitasse.e.
              </li>
            ">
                  <li>
                    <div class="u-list-icon">
                      <div xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content">–</div>
                    </div>Наш менеджер позвонит вам по указанному при регистрации номеру телефона&nbsp;
                  </li>
                </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-align-center u-clearfix u-section-6" id="carousel_559e">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-image u-image-circle u-preserve-proportions u-image-1" alt="" data-image-width="1064" data-image-height="1080" data-animation-name="customAnimationIn" data-animation-duration="2000"></div>
            <h4 class="u-align-left-lg u-align-left-md u-align-left-sm u-align-left-xl u-custom-font u-font-montserrat u-text u-text-1" data-lang-en="Nina Smith"> Дмитрий Трофимов</h4>
            <h5 class="u-align-left-lg u-align-left-md u-align-left-sm u-align-left-xl u-text u-text-2" data-lang-en="Sales Manager">Менеджер по работе с клиентами</h5>
            <a href="#" class="u-active-black u-border-active-black u-border-hover-black u-border-none u-btn u-btn-round u-button-style u-color-scheme-summer-time u-color-style-multicolor-1 u-hover-black u-palette-2-base u-radius-50 u-text-active-white u-text-body-alt-color u-text-hover-palette-2-base u-btn-1" data-lang-en="{&quot;content&quot;:&quot;Contact Us&quot;,&quot;href&quot;:&quot;https://nicepage.me&quot;}">Contact Us</a>
        </div>
    </section>


    <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-3b37">
        <div class="u-clearfix u-sheet u-sheet-1">
            <p class="u-small-text u-text u-text-variant u-text-1" data-lang-en="Sample text. Click to select the Text Element.">Sample text. Click to select the Text Element.</p>
        </div>
    </footer>
    <section class="u-backlink u-clearfix u-grey-80">
        <a class="u-link" href="https://nicepage.com/website-mockup" target="_blank">
            <span>Website Mockup</span>
        </a>
        <p class="u-text">
            <span>created with</span>
        </p>
        <a class="u-link" href="https://nicepage.com/html-website-builder" target="_blank">
            <span>HTML Website Builder</span>
        </a>.
    </section>

</body>
</html>