.u-section-1 .u-sheet-1 {
  min-height: 95px;
}

.u-section-1 .u-text-1 {
  margin: 21px auto;
}.u-section-2 .u-sheet-1 {
  min-height: 613px;
}

.u-section-2 .u-text-1 {
  margin: 113px auto 0;
}

.u-section-2 .u-table-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-block-b5e9-7 {
  background-image: none;
}

.u-section-2 .u-table-body-1 {
  background-image: none;
}

.u-section-2 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px auto 0 409px;
}

.u-section-2 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -42px 403px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-table-1 {
    height: 335px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 209px;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 203px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 0;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 473px;
}

.u-section-3 .u-text-1 {
  margin: 30px 497px 0 508px;
}

.u-section-3 .u-table-1 {
  margin-top: 12px;
  margin-bottom: 60px;
}

.u-block-1ad9-5 {
  background-image: none;
}

.u-section-3 .u-table-body-1 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-left: 408px;
    margin-right: 397px;
    width: 124px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-left: 298px;
    margin-right: 287px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-left: 208px;
    margin-right: 197px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-left: 108px;
    margin-right: 97px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 573px;
}

.u-section-4 .u-text-1 {
  width: 135px;
  margin: 39px auto 0;
}

.u-section-4 .u-table-1 {
  margin-top: 32px;
  margin-bottom: 0;
}

.u-block-c4f2-5 {
  background-image: none;
}

.u-section-4 .u-table-body-1 {
  background-image: none;
}

.u-section-4 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 39px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-top: 50px;
  }

  .u-section-4 .u-table-1 {
    margin-top: -15px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-top: 76px;
  }

  .u-section-4 .u-table-1 {
    margin-top: -41px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    margin-top: 85px;
  }

  .u-section-4 .u-table-1 {
    margin-top: -7px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 552px;
}

.u-section-5 .u-text-1 {
  width: 164px;
  margin: 20px auto 0;
}

.u-section-5 .u-table-1 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-block-5a3c-5 {
  background-image: none;
}

.u-section-5 .u-table-body-1 {
  background-image: none;
}

.u-section-5 .u-list-1 {
  width: 408px;
  margin: 20px auto 60px;
}

.u-section-5 .u-repeater-1 {
  min-height: 62px;
  grid-template-columns: repeat(2, calc(50% - 2.5px));
  grid-auto-columns: calc(50% - 2.5px);
  grid-gap: 5px;
}

.u-section-5 .u-container-layout-1 {
  padding: 10px;
}

.u-section-5 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin-bottom: 0;
  margin-top: 0;
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 10px;
}

.u-section-5 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin-bottom: 0;
  margin-top: 0;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    width: 135px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.3333% - 3.33333px));
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 2.5px));
    grid-auto-columns: calc(100% - 0px);
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-list-1 {
    width: 340px;
  }
}