<!DOCTYPE html>
<html lang="en">
@*<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Photo_aggregator</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Photo_aggregator.styles.css" asp-append-version="true" />
</head>*@
<body>
    <header class="u-clearfix u-header u-header" id="sec-a24e">
        <div class="u-clearfix u-sheet u-sheet-1">
            <nav class="u-align-left u-menu u-menu-hamburger u-offcanvas u-menu-1" data-responsive-from="XL">
                <div class="menu-collapse">
                    <a class="u-button-style u-nav-link" href="#" style="padding: 4px 0px; font-size: calc(1em + 8px);" data-lang-en="{&quot;content&quot;:&quot;\n          <svg class=\&quot;u-svg-link\&quot; preserveAspectRatio=\&quot;xMidYMin slice\&quot; viewBox=\&quot;0 0 302 302\&quot; style=\&quot;\&quot;><use xlink:href=\&quot;#svg-5c50\&quot;></use></svg>\n          <svg xmlns=\&quot;http://www.w3.org/2000/svg\&quot; xmlns:xlink=\&quot;http://www.w3.org/1999/xlink\&quot; version=\&quot;1.1\&quot; id=\&quot;svg-5c50\&quot; x=\&quot;0px\&quot; y=\&quot;0px\&quot; viewBox=\&quot;0 0 302 302\&quot; style=\&quot;enable-background:new 0 0 302 302;\&quot; xml:space=\&quot;preserve\&quot; class=\&quot;u-svg-content\&quot;><g><rect y=\&quot;36\&quot; width=\&quot;302\&quot; height=\&quot;30\&quot;></rect><rect y=\&quot;236\&quot; width=\&quot;302\&quot; height=\&quot;30\&quot;></rect><rect y=\&quot;136\&quot; width=\&quot;302\&quot; height=\&quot;30\&quot;></rect>\n</g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>\n        &quot;,&quot;href&quot;:&quot;#&quot;}">
                        <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 302 302" style=""><use xlink:href="#svg-5c50"></use></svg>
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="svg-5c50" x="0px" y="0px" viewBox="0 0 302 302" style="enable-background:new 0 0 302 302;" xml:space="preserve" class="u-svg-content"><g><rect y="36" width="302" height="30"></rect><rect y="236" width="302" height="30"></rect><rect y="136" width="302" height="30"></rect>
</g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
                    </a>
                </div>
                <div class="u-custom-menu u-nav-container">
                    <ul class="u-nav u-unstyled u-nav-1">
                        <li class="u-nav-item">
                            <a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" asp-area="" asp-controller="Home" asp-action="Index" style="padding: 10px 20px;">Главная</a>
                        </li>
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <li class="u-nav-item">
                                <a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" asp-area="" asp-controller="Account" asp-action="Register" style="padding: 10px 20px;">Регистрация</a>
                            </li>
                            <li class="u-nav-item">
                                <a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" asp-area="" asp-controller="Account" asp-action="Login" style="padding: 10px 20px;">Авторизация</a>
                            </li>
                        }

                        <li class="u-nav-item">
                            <a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" asp-area="" asp-controller="Home" asp-action="Services" style="padding: 10px 20px;">Услуги</a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="u-nav-item">
                                <a class="u-button-style u-nav-link" asp-area="" asp-controller="Home" asp-action="Requests">Аккаунт</a>
                            </li>
                            <li class="u-nav-item">
                                <a class="u-button-style u-nav-link" method="post" asp-controller="Account" asp-action="Logout">Выход</a>
                            </li>
                            <li class="u-nav-item">
                                <a class="u-button-style u-nav-link" method="post" asp-controller="Home" asp-action="Profile">Профиль</a>
                            </li>
                        }

                    </ul>
                </div>
                <div class="u-custom-menu u-nav-container-collapse">
                    <div class="u-align-center u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
                        <div class="u-inner-container-layout u-sidenav-overflow">
                            <div class="u-menu-close"></div>
                            <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                                <li class="u-nav-item">
                                    <a class="u-button-style u-nav-link" asp-area="" asp-controller="Home" asp-action="Index">Главная</a>
                                </li>
                                @if (!User.Identity.IsAuthenticated)
                                {
                                    <li class="u-nav-item">
                                        <a class="u-button-style u-nav-link" asp-area="" asp-controller="Account" asp-action="Register">Регистрация</a>
                                    </li>
                                    <li class="u-nav-item">
                                        <a class="u-button-style u-nav-link" asp-area="" asp-controller="Account" asp-action="Login">Авторизация</a>
                                    </li>
                                }
                                <li class="u-nav-item">
                                    <a class="u-button-style u-nav-link" asp-area="" asp-controller="Home" asp-action="Services">Услуги</a>
                                </li>

                                @if (User.Identity.IsAuthenticated)
                                {
                                    <li class="u-nav-item">
                                        <a class="u-button-style u-nav-link" asp-area="" asp-controller="Home" asp-action="Profile">Аккаунт</a>
                                    </li>
                                    <li class="u-nav-item">
                                        <a class="u-button-style u-nav-link" method="post" asp-controller="Account" asp-action="Logout">Выход</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
                </div>
            </nav>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

@*    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Photo_aggregator - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
